<!-- src/app/main/main.component.html -->
<h1>Welcome to the Music Discussion Club Family Feud</h1>
<ul>
  <li><a routerLink="/game1">Go to Game 1</a></li>
  <li><a routerLink="/game2">Go to Game 2</a></li>
  <li><a routerLink="/game3">Go to Game 3</a></li>
  <li><a routerLink="/game4">Go to Game 4</a></li>
  <li><a routerLink="/game5">Go to Game 5</a></li>
  <li><a routerLink="/game6">Go to Game 6</a></li>
  <li><a routerLink="/game7">Go to Game 7</a></li>
  <li><a routerLink="/game8">Go to Game 8</a></li>
</ul>
