/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%; /* Full height */
    margin: 0;    /* Remove default margin */
    padding: 0;   /* Remove default padding */
  }

